In [46]:
import pandas as pd
import numpy as np

In [40]:
from nltk.corpus import stopwords
import nltk

In [45]:
stopwords = set(stopwords.words('English'))

In [22]:
pd.set_option('display.max_colwidth', -1)
pd.options.display.max_rows = 999

In [29]:
train_df = pd.read_csv('../data/sentiment-analysis-on-movie-reviews/train.tsv', sep='\t')

In [32]:
test_df = pd.read_csv('../data/sentiment-analysis-on-movie-reviews/test.tsv', sep='\t')

In [33]:
train_df.head()

   PhraseId  SentenceId                                                                                                                                                                                        Phrase  Sentiment
0  1         1           A series of escapades demonstrating the adage that what is good for the goose is also good for the gander , some of which occasionally amuses but none of which amounts to much of a story .  1
1  2         1           A series of escapades demonstrating the adage that what is good for the goose                                                                                                                 2
2  3         1           A series                                                                                                                                                                                      2
3  4         1           A                                                                                                                                                                                             2
4  5         1           series                                                                                                                                                                                        2

In [31]:
test_df.head()

   PhraseId  SentenceId                                                  Phrase
0  156061    8545        An intermittently pleasing but mostly routine effort .
1  156062    8545        An intermittently pleasing but mostly routine effort
2  156063    8545        An
3  156064    8545        intermittently pleasing but mostly routine effort
4  156065    8545        intermittently pleasing but mostly routine

In [37]:
train_phrases = train_df['Phrase'].values
train_sentiment = train_df['Sentiment'].values

In [56]:
label_set = np.unique(train_sentiment)
labels = len(label_set)

In [57]:
labels

5